
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.home{
  font-family: 'Poppins', sans-serif;
}

.colortext{
 color: #1C5DCD;
}

.btn{
  font-family: 'Poppins', sans-serif;
  background-color: #1C5DCD;
}

.about{
  font-family: 'Poppins', sans-serif;
  background-color: #1C5DCD1A;
}

.para{
  line-height: 2rem;
}

